
<div class="row">
    <div class="full column">
        <h3>File upload test</h3>
        <label>Only images please</label>
        <form action="/upload/upload" method="POST" enctype="multipart/form-data">
            <div class="btn grey"> <span>File</span>
                <input name="myImage" type="file"> 
            </div>
            <button type="submit" class="btn">Submit</button>
        </form> <img src="/assets/{{file}}" alt="" /> 
    </div>
</div>
