
{{#if errors}}
<div class="errors">
{{errors}}
</div>
{{/if}}
    <h1>Login Authentication</h1>
    <form action="validatePassword" method="post">
        <label>Name</label>
        <input type="text" name="name" id="" value="" />
        <br/>
        <label>Password</label>
        <input type="password" name="password" id="" value="" />
        <br/>
        <button type="submit" >OK</button>
    </form>
